/* reset (minimum) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
