/* =========================================
   Design Tokens
========================================= */
:root {
    /* ===== Color ===== */
    --color-heading-ja: #3895AC; 
    --color-heading-en: #B7D9E2;
    --color-gray-light: #F1F1F1; 
    --color-text-base: #333333; 
    --color-accent-pink: #E35B59; 
  
    /* ===== Gradient ===== */
    --gradient-btn: linear-gradient(
      90deg,
      #F4A8AD 0%,
      #E35B59 100%
    );
    --gradient-btn-line: linear-gradient(
      90deg,
      #E35B59 0%,
      #F4A8AD 100%
    );
  
    /* ===== Font Family ===== */
    --font-base: "Noto Sans JP", sans-serif;
    --font-en: Optima, "Helvetica Neue", Arial, sans-serif;

    /* ===== font size ===== */
    --fs-h2: 24px; 
    --fs-h3: 18px; 
    --fs-point: 20px; 
    --fs-body: 16px;
    --fs-small: 14px;
    --fs-mini: 12px;

    /* ===== Font Weight ===== */
    --fw-light: 300; 
    --fw-regular: 400; 
    --fw-bold: 700; 

    /* ===== Line Height ===== */
    --lh-base: 1.3;
    --lh-relaxed: 1.8;

    /* ===== Letter Spacing ===== */
    --ls-base: 0.1em;
}


/* =========================================
   Layout/common
========================================= */
body{
    display: flex;
    justify-content: center;
    font-family: var(--font-base);
    font-weight: var(--fw-regular);
    line-height: var(--lh-base);
    letter-spacing: var(--ls-base);

}
.has-fixed-bg {
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.l-wrapper {
    max-width: 750px;
    background-color: white;

}
.container {
    padding: 0 20px;


}
.c-icon-check{
    width: 16px;

}
.c-icon-accentline{
    width: 18px;

}

.c-cta-microcopy {

}

.c-btn {
    background: linear-gradient(to bottom, #F4A8AD, #E35B59);
    padding: 16px 16px ;
    border-radius: 100px;
    color: white;
    font-size: 27px;
    font-weight: var(--fw-bold);
}

.c-btn--primary {

}


/* =========================================
   Header
========================================= */
.header-logo {
    padding-top: 24px;

}

.header-logo img{
    width:80px ;
}

/* =========================================
   FV
========================================= */
.p-fv {

}
.p-fv__heading {

}
.p-fv__subtitle {

}
.p-fv__subtitle-highlight {

}
.p-fv__title {

}

.p-fv__features {

}
.p-fv__features-list {

}
.p-fv__features-item {

}

.p-fv__cta {

}
.p-fv__cta-inner {

}
.p-fv__microcopy {

}

/* ============================================== 
sections
============================================== */
.p-features {

}
.p-whoitfits {

}
.p-flow {

}
.p-trainer {

}
.p-voice {

}
.p-faq {

}
.p-offer {

}
.p-access {

}

/* ============================================== 
footer 
============================================== */

.footer-container {

}
.footer-content {

}
