/* =========================================
   Design Tokens
========================================= */
html{
  font-size: 16px;
}

:root {
    /* ===== Color ===== */
    --color-heading-ja: #3895AC; 
    --color-heading-en: #B7D9E2;
    --color-gray-light: #F1F1F1; 
    --color-text-base: #333333; 
    --color-accent-pink: #E35B59;
		--color-cream:#FFFCF3;
  
    /* ===== Gradient ===== */
    --gradient-btn: linear-gradient(
      to bottom,
      #F4A8AD 0%,
      #E35B59 100%
    );
    --gradient-btn-line: linear-gradient(
      to bottom,
      #E35B59 0%,
      #F4A8AD 100%
    );
  
    /* ===== Font Family ===== */
    --font-base: "Noto Sans JP", sans-serif;
    --font-en: Optima, "Helvetica Neue", Arial, sans-serif;

    /* ===== font size ===== */
    --fs-h2: 1.5rem;      /* 24px */
    --fs-h3: 1.125rem;    /* 18px */
    --fs-point: 1.25rem;  /* 20px */
    --fs-body: 1rem;      /* 16px */
    --fs-small: 0.875rem; /* 14px */
    --fs-mini: 0.75rem;   /* 12px */

    /* ===== Font Weight ===== */
    --fw-light: 300; 
    --fw-regular: 400; 
    --fw-midium: 500; 
    --fw-bold: 700; 

    /* ===== Line Height ===== */
    --lh-base: 1.3;
    --lh-relaxed: 1.8;

    /* ===== Letter Spacing ===== */
    --ls-base: 0.1em;
}


/* =========================================
   Layout/common
========================================= */
body{
    font-family: var(--font-base);
    font-weight: var(--fw-regular);
    line-height: var(--lh-base);
    letter-spacing: var(--ls-base);
    margin: 0;

}

body p{
    color: #333333;
}

body ul{
	color: #333333;
}

.has-fixed-bg {
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed; 
    
}

.l-wrapper {
    max-width: 375px;
    background-color: white;
    /* display: flex;
    justify-content: center; */
    margin: 0 auto;

}
.container {
    padding: 0 20px;


}
.c-icon-check{
    width: 16px;

}
.c-icon-accentline{
    width: 18px;

}

.c-cta-microcopy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    font-size: var(--fs-h2);
    font-weight: var(--fw-midium);

}
.c-cta-microcopy img {
    display: block;
    height: 24px;
    width: auto;
  }

.c-btn {
    border: 4px solid transparent;
    border-radius: 999px;
    background:
        var(--gradient-btn) padding-box,
        var(--gradient-btn-line) border-box;
    color: #fff;
    padding: 8px 16px;
    font-size: 27px;
    font-weight: var(--fw-midium);
    width: 80%;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.c-btn::after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 10px;     /* 高さ:12px / 幅:10px */
    border-color: transparent transparent transparent #fff; /* 右向き */
  }

  .c-section-title{
    margin-bottom: 24px;

  }
  .c-section-title__en{
    text-align: center;
    font-size: var(--fs-point);
    font-family: var(--font-en);
    color: var(--color-heading-en);
  }
  .c-section-title__ja{
    text-align: center;
    font-size: var(--fs-h2);
    color: var(--color-heading-ja);
    font-weight: var(--fw-midium);
  }

/* =========================================
   FV
========================================= */
.p-fv {
    background-image:url(../img/mv_background.jpg);
    width: 100%;
    height: 696px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    
    position: relative;

}

.p-fv__logo{
    padding: 24px 0 56px 0;
    width:80px ;

}
.p-fv__heading {
    
    
}


.p-fv__subtitle {
    font-size: var(--fs-h2);
    line-height: var(--lh-relaxed);
    letter-spacing: 0.15em;

}
.p-fv__subtitle-highlight {
    font-size: 2rem;
    position: relative;
    display: inline-block;
    z-index: 0;

}

.p-fv__subtitle-highlight::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.1em; 
    width: 100%;
    height: 0.6em; 
    background: url("./img/mv_accentline.svg") no-repeat left bottom / 100% 100%;
    z-index: -1;
    pointer-events: none;
  }

.p-fv__title {
    font-size: 2.625rem;
    display: inline-block;
    transform: skew(-7deg);
    margin: 16px 0 40px 0;
      
}

.p-fv__features {
    width: 168px;
    padding: 16px 0;
    background-image:
      radial-gradient(circle, #808080 1.5px, transparent 1px),
      radial-gradient(circle, #808080 1.5px, transparent 1px);
    background-size: 8px 8px;
    background-repeat: repeat-x;
    background-position: left top, left bottom;

}
.p-fv__features-list {
    
    

}
.p-fv__features-item {
    display: flex;
    flex-direction: row;
    color: var(--color-accent-pink);
    gap: 8px ;
    padding: 4px 0;
}

.p-fv__cta {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    
}

.p-fv__cta-inner {
   

}
.p-fv__microcopy {

}

/* ============================================== 
sections
============================================== */
/* features */
.p-features {
    background-color: #FFFCF3;
    padding: 40px 0;

}
.p-features__container{

}

.p-features__list{
    display: flex;
    flex-direction: column;
    gap: 32px;

}
.p-features__item{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    padding-left: 20px;

}

.p-features__item--reverse{
    display: flex;
    flex-direction: row-reverse;
    padding:0 20px 0 0;
    

}

.p-features__content{

}

.p-features__num{
    font-family: var(--font-en);
    color: #F1F1F1;
    font-size: 64px;
    font-weight: var(--fw-light);
    font-style: italic;
    margin-bottom: -24px;

}

.p-features__title{
    color: var(--color-heading-ja);
    margin-bottom: 8px;

}

.p-features__text{

}

.p-features__media{
    width: 196px;
    height: 160px;
    border-radius: 80px 0 0 80px;
    overflow: hidden; 
    box-shadow: 0 8px 16px rgba(124, 124, 124, 0.1);

}

.p-features__item--reverse .p-features__media{
    border-radius: 0 80px 80px 0;
  }
  
.p-features__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;     

}

/* who it fits */
.p-whoitfits {
	background-color: var(--color-cream);
}

.c-balloon-title{
	background-image: url(img/whoitfits_h2_bk.svg);
	position: relative;
  padding: 16px 24px 24px 24px; /* 吹き出しの内側余白 */
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 100%;
	z-index: 10;
}




.p-whoitfits .container{
	background-image: url(./img/whoitfits_background.jpg);
	width: 100%;
	height: auto;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	
}

.p-whoitfits__list{
	margin-top: -80px;
	padding: 80px 40px;

}

.p-whoitfits__item{
	display: flex;
	align-items: flex-start;
	font-size: var(--fs-point);
	font-weight: var(--fw-midium);
	padding: 16px 0;
	border-bottom: 4px dotted #D2D2D2;
	max-width: 180px;

}

.p-whoitfits__item:last-child{
  border-bottom: none;
}

.p-whoitfits__item .c-icon-check{
	margin: 5px 8px 0 0;
}

/* flow */
.p-flow {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 40px 0;

}

.p-flow__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  

}

.p-flow__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}

.p-flow__badge {
  color: var(--color-heading-ja);
  line-height: 150%;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-en);
  background-color: var(--color-gray-light);
  border-radius: 200px;
  z-index: 10;
  padding-top: 5px;

}

.p-flow__step-label {
  font-size: var(--fs-small);

}

.p-flow__step-num {
  font-size: 2rem;

}

.p-flow__card {
  max-width: 296px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(124, 124, 124, 0.1);
  margin-top: -32px;
  

}

.p-flow__media {
  
 

}

.p-flow__img {
  border-radius: 5px 5px 0 0;

}

.p-flow__title {
  color: var(--color-heading-ja);
  padding: 16px 0 8px 0;

}

.p-flow__text {
  padding-bottom: 16px;

}

.flow-arrow {
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 20px solid #D4E7EC; 
  margin: 16px auto;
}

.p-flow .c-btn{
  margin-top: 40px;
  width: 100%;
}

/* trainer */
.p-trainer {
  background-color: #F0F9FB;
  padding: 40px 0;

}

.p-trainer__list {
  margin-top: 40px;
  
}

.p-trainer__item {
  padding: 24px 24px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(124, 124, 124, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin-bottom: 24px;
}

.p-trainer__img {
  width: 208px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.p-trainer__info {

}

.p-trainer__name {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  text-align: center;
  margin-bottom: 4px;

}

.p-trainer__position {
  font-size: var(--fs-small);
  font-weight: var(--fw-midium);

}

.p-trainer__career {
  font-size: var(--fs-small);
  text-align: center;

}

.p-trainer__message-title {
  color: #B7D9E2;
  text-align: center;
  font-size: var(--fs-h3);
  font-family: var(--font-en);
  display: flex;
  align-items: center;
  gap: 24px;

}

.p-trainer__message-title::before,
.p-trainer__message-title::after {
  content: "";
  flex: 1;
  height: 1px;
  background-image: radial-gradient(
    circle, #B7D9E2 1.5px, transparent 1.5px
  );
  background-size: 8px 1px;
  background-repeat: repeat-x;
}

.p-trainer__message-text {
  line-height: var(--lh-relaxed);
  text-align: justify;
  font-size: var(--fs-small);
  letter-spacing: 0.05em;
}


/* voice */
.p-voice {
  padding: 40px 0;

}

.p-voice {

}

.p-voice__list {
  margin-top: 16px;

}

.p-voice__item {
  display: flex;
  border-bottom: 4px dotted #D4E7EC;
  padding: 24px 0;
  gap: 16px;
  align-items: center;

}

.p-voice__item--reverse{
  display: flex;
  flex-direction: row-reverse;
}

.p-voice__img{
  width: 96px;
  height: auto;
}

.p-voice__content {
  

}

.p-voice__text {
  color: var(--color-heading-ja);
  font-weight: var(--fw-midium);
  text-align: justify;
  margin-bottom: 8px;
  line-height: 1.5;

}

.p-voice__name {
  font-size: var(--fs-small);
  font-weight: var(--fw-regular);

}

.p-voice .c-btn{
  margin-top: 40px;
  width: 100%;
}

/* faq */
.p-faq {
  padding: 40px 0;

}

.p-faq__list{
  margin-top: 40px;
}

.p-faq__item{
  margin-top: 24px;

}

.p-faq__details{
  border: 1px solid #D4E7EC;
  border-radius: 5px;
  padding: 16px;
}

.p-faq__question{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  
}

.p-faq__question::-webkit-details-marker{
  display:none;
}

.p-faq__question-mark{
  font-family: var(--font-en);
  font-size: var(--fs-h2);
  color: var(--color-heading-ja);
  flex: 0 0 24px;
}

.p-faq__question-text{
  flex: 1;
  display: inline-block;

}
.p-faq__icon{
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-left: auto;
}

.p-faq__icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-heading-ja);
  transform: translateY(-50%);
}

.p-faq__icon::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: var(--color-heading-ja);
  transform: translateX(-50%);
  transition: opacity 0.2s;
}

.p-faq__details[open] .p-faq__icon::after {
  opacity: 0;
}


.p-faq__answer{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
  font-size: var(--fs-small);

}

.p-faq__answer-mark{
  font-family: var(--font-en);
  font-size: var(--fs-h2);
  color: var(--color-heading-ja);

}

.p-faq__answer-text{

}

/* offer */
.p-offer {

}

/* access */
.p-access {

}

/* ============================================== 
footer 
============================================== */

.footer-container {

}
.footer-content {

}
